<%@ Master Language="C#" MasterPageFile="~/mpPrincipal.Master" AutoEventWireup="true" CodeBehind="mpSegundaria.master.cs" Inherits="Apresentacao.mpSegundaria" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderPrincipal" runat="server">

    <asp:ContentPlaceHolder ID="ContentPlaceHolderSegundaria" runat="server">


    </asp:ContentPlaceHolder>


</asp:Content>
